<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>SST</display-name>
	<servlet>
		<description>
		</description>
		<display-name>registerServlet</display-name>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>controller.registerServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>loginServlet</display-name>
		<servlet-name>loginServlet</servlet-name>
		<servlet-class>controller.loginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>updateServlet</display-name>
		<servlet-name>updateServlet</servlet-name>
		<servlet-class>controller.updateServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>logoutServlet</display-name>
		<servlet-name>logoutServlet</servlet-name>
		<servlet-class>controller.logoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>cpServlet</display-name>
		<servlet-name>cpServlet</servlet-name>
		<servlet-class>controller.cpServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>contactServlet</display-name>
		<servlet-name>contactServlet</servlet-name>
		<servlet-class>controller.contactServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>forgotServlet</display-name>
		<servlet-name>forgotServlet</servlet-name>
		<servlet-class>controller.forgotServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>otpServlet</display-name>
		<servlet-name>otpServlet</servlet-name>
		<servlet-class>controller.otpServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>resetPasswordServlet</display-name>
		<servlet-name>resetPasswordServlet</servlet-name>
		<servlet-class>controller.resetPasswordServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>addWMServlet</display-name>
		<servlet-name>addWMServlet</servlet-name>
		<servlet-class>controller.addWMServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>addSMServlet</display-name>
		<servlet-name>addSMServlet</servlet-name>
		<servlet-class>controller.addSMServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>addCServlet</display-name>
		<servlet-name>addCServlet</servlet-name>
		<servlet-class>controller.addCServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>enterWHServlet</display-name>
		<servlet-name>enterWHServlet</servlet-name>
		<servlet-class>controller.enterWHServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>
		/registerServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>loginServlet</servlet-name>
		<url-pattern>
		/loginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>updateServlet</servlet-name>
		<url-pattern>
		/updateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logoutServlet</servlet-name>
		<url-pattern>
		/logoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cpServlet</servlet-name>
		<url-pattern>
		/cpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>contactServlet</servlet-name>
		<url-pattern>
		/contactServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>forgotServlet</servlet-name>
		<url-pattern>
		/forgotServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>otpServlet</servlet-name>
		<url-pattern>
		/otpServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resetPasswordServlet</servlet-name>
		<url-pattern>
		/resetPasswordServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addWMServlet</servlet-name>
		<url-pattern>
		/addWMServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addSMServlet</servlet-name>
		<url-pattern>
		/addSMServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addCServlet</servlet-name>
		<url-pattern>
		/addCServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>enterWHServlet</servlet-name>
		<url-pattern>
		/enterWHServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>